.article {
    margin: 40px;
    max-width: 850px;

    p, li, ul {
        line-height: 1.7rem;
    }

    img, iframe {
        width: 100%;
        max-width: 90%;
        border: 1px solid black;
    }

    iframe {
        height: 400px;
    }

    code {
        background-color: yellow;
        padding: 6px;
        line-height: 1.55rem;
    }

    aside {
        background-color: lightyellow;
        padding: 5px 30px;
    }

}

@media (prefers-color-scheme: dark) {
    .article {
        code {
            background-color: yellow;
            color: black;
        }
    }
}
