@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@import 'tokens';

@import '@progress/kendo-theme-default/dist/all';

@import 'overrides';

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'PT Mono', monospace;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 2.9rem;
}

h2 {
  font-family: 'PT Mono', monospace;
  font-size: 1.6rem;
  font-weight: normal;
}

h3 {
  font-family: 'PT Mono', monospace;
  font-size: 1.3rem;
  font-weight: normal;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: #D1298E; 
}

@media (prefers-color-scheme: dark) {
  a {
    color: $tb-kendo-color-primary;
  }

  body {
    background-color: $tb-kendo-body-bg;
    color: $tb-kendo-body-text;
  }
}